.footer {
    width: 100vw;
    padding: 4rem 4rem;
    background-color: rgba(19, 19, 19, 0.8);
}

.footer-container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.location{
    margin-bottom: 0.8rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.right-footer{
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.social{
    margin-top: 1rem;
    display: flex;
}

h4{
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}

p{
    font-size: 1.2rem;
}

@media screen and (max-width:640px) {
    .footer-container{
        grid-template-columns: 1fr;
    }
}